.footer-section{
  background:$footer-background-color;
  margin-top:0;

  .footer-left{
    .footer-logo{
      text-align:center;
      margin-bottom:20px;

      img{
        width:110px;

      }
    }
    .footer-text{
      text-align:center;
      margin-top:10px;
      color:#fff;
      font-size:12px;
    }

    @include small-device{
      .footer-logo {
        text-align: center;
        margin-bottom: 20px;
      }

      .footer-text{
        text-align:center;
      }
    }

    @include medium-device{
      .footer-logo {
        text-align: left;
        margin-bottom: 0;
      }

      .footer-text{
        text-align:left;
      }
    }
    @include large-device{
      .footer-logo {
        text-align: left;
        margin-bottom: 0;
      }

      .footer-text{
        text-align:left;
      }

    }
    @include extra-large-device{
      .footer-logo {
        text-align: left;
        margin-bottom: 0;
      }

      .footer-text{
        text-align:left;
      }
    }
  }

  .footer-right{
    .social-section{
      text-align:center;

      ul{
        list-style:none;
        margin:0;

        li{
          display:inline-block;
          margin-right:10px;

          a{
            color:#fff;
          }
        }
      }
    }

    @include small-device{
      .social-section{
        text-align:center;
      }
    }

    @include medium-device{
      .social-section{
        text-align:center;
      }
    }
    @include large-device{
      .social-section{
        text-align:right;
      }
    }
    @include extra-large-device{
      .social-section{
        text-align:right;
      }
    }

  }

}