#header{
  position:relative;
  width:100%;
  height: 100%;
  background:url('../images/sample_bg.jpg') no-repeat;
  background-size:cover;

  .header-content{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color:#fff;
    position:relative;
    z-index:2;

    h1.heading{
      color:#fff;
    }
  }

  .upload-video-button{
    background:#fff;
    line-height:40px;
    color:#000;
    border:none;
    border-radius:0;
    text-transform:uppercase;
    width:250px;
    font-weight:bold;
    transition:all ease-in-out .2s;

    &:hover{
      box-shadow:0px 0px 6px rgba(0,0,0,.5);
    }
  }

  &:before{
    content:'';
    background:rgba(0,0,0,.3);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
  }
}