#nav{
  width:100%;
  padding:10px 0;
  z-index:10;
  transition:all ease-in-out .4s;

  .logo {
    margin-bottom:0;
    text-align:center;

    img{
      width:110px;
    }

    .router-link-exact-active{
      opacity:1;
    }
  }
  @include small-device{
    .logo {
      margin-bottom:10px;
      text-align:center;
      img{
        width:110px;
      }
    }
  }

  @include medium-device{
    .logo {
      text-align:left;
      margin-bottom:0;
    }
  }
  @include large-device{
    .logo {
      text-align:left;
      margin-bottom:0;
    }
  }
  @include extra-large-device{
    .logo {
      text-align:left;
      margin-bottom:0;

    }
  }

  .router-link-exact-active{
    opacity:.5;
  }

}

.navigation{
  margin-top:12px;
  text-align:center;

  .btn{
    margin:0;
    border:none;

    &:hover{
      background:transparent;
    }

    i{
      margin-right:0;
    }
  }

  ul{
    list-style:none;
    li{
      &:nth-last-child(1) {
        margin-right:0;
      }
      margin-right:20px;
      display:inline;
      
      a{
        color:$home-textcolor;
        transition:all ease-in-out .2s;
        text-decoration:none;
        text-transform:uppercase;

        i {
          font-size:20px;
          margin-top:-5px;
          width: 20px;
          display: inline-block;
        }
      }
      
      a:hover{
        opacity:.5;
      }
      
      a:focus{
        outline:none;
      }

      .btn__content{
        padding:0;

        i{
          display:inline-block;
          margin-right:5px;
        }
      }
    }
  }

}

.menu__content{
  box-shadow:none;
  top:120px !important;

  .list{
    background: rgba(0,0,0,.5);
  }
  a{
    color:#fff;
    text-decoration:none;
    transition:all ease-in-out .3s;

    &:hover{
      text-decoration:none;
      opacity:.5;
    }

    i{
      display:inline-block;
      width:24px;
    }
  }
}

@include small-device{
  .menu__content{
    top:62px !important;
  }
  .navigation{
    text-align:center;
  }
}

@include medium-device{
  .menu__content{
    top:62px !important;
  }

  .navigation{
    text-align:right;
  }
}
@include large-device{
  .navigation{
    text-align:right;
  }

  .menu__content{
    top:62px !important;
  }
}
@include extra-large-device{
  .menu__content{
    top:62px !important;
  }

  .navigation{
    text-align:right;
  }
}

.second-navigation{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,1);
  padding:20px 0px;
  z-index:100;
  .logo {
    text-align:center;
    margin-bottom:0px;
    img{
      width:110px;
    }
  }

  @include small-device{
    .logo{
      text-align:center;
    }
  }

  @include medium-device{
    .logo{
      text-align:center;
    }
  }
  @include large-device{
    .logo{
      text-align:left;
    }
  }
  @include extra-large-device{
    .logo{
      text-align:left;
    }
  }
}

.page-videos + #nav{
  background:#000;
}