
@keyframes blink {
    50% { color: transparent }
}
.loader__dot { 
    animation: 1s blink infinite 
}
.loader__dot:nth-child(2) { 
    animation-delay: 250ms 
}
.loader__dot:nth-child(3) { 
    animation-delay: 500ms 
}
.copy-tag { 
    display:inline-block; 
    background:#666; 
    margin-top:5px; 
    margin-right:5px; 
}

#video-analysis { 
    margin-bottom:15px; 
}