@import '../assets-story';

@import 'story-detail';

@import '../asset-video-download';

@import '../asset-story-in-dialog';

@import '../asset-offered-purchased';

.client-content{
  .speed-dial {
    position: absolute;
    left: -5px;
  }

  .btn--floating {
    position: relative;
  }

  .no-stories{
    margin-top:40px;
  }
  a{
    color:#000;
  }
}
.client-sub-menu{
  top: 150px !important;
}

.client-nav{
  position:relative;
  width:100%;
  height:20px;
}


/*
*******************************************************
  Client offered & purchase tab
*******************************************************
*/

.client-offer-section{
  .v-tabs__item{
    padding:6px 24px;
  }
}

.client-purchased-section{
  .v-tabs__item{
    padding:6px 24px;
  }
}

