/* ************************* Video header section style ******************* */

#header{
  margin-top:-173px;
  height:350px;
}

@include small-device {
  #header{
    margin-top:-165px;
  }
}

@include medium-device {
  #header{
    margin-top:-102px;
  }
}

@include large-device {
  #header{
    margin-top:-102px;
  }
}

@include extra-large-device {
  #header{
    margin-top:-102px;
  }
}