/node_modules
/public/hot
/public/storage
/storage/**
/storage/*.key
/storage/logs/*
/vendor
/.idea
/.vagrant
.nuxt/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/.DS_Store
/public/.DS_Store
/public/assets/.DS_Store
database/migrations/new/2018_05_15_115441_create_stories_table.php
database/migrations/new/2018_05_15_115441_create_stories_table.php
*.map
public/mix-manifest.json
