.video-dialog-container {
  .media-credit-container{
    width:100% !important;

      img {
        display:block;
        width:100%;
        height:auto;
      }
  }
}

.mailer-stories .card__media{
  cursor:pointer;
}

.mailer-stories{
  .v-input{
    margin:0;
    padding:0;
  }
}
