@import "./variables";
@import"./mixin";
@import"./mailer-stories-component";
@import"./video-dialog-box";

/* ************************* Video dialog box section style ******************* */
@import "../../frontend/scss/partials/asset-video-dialog-box";


/*
 ********************************************************
 * Root label style go here
 ********************************************************
 */

#admin-mailer{
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    padding:0;
    background-image: none;
    white-space: nowrap;
    border:none;

    i{
      display:block;
      margin-right:5px;
    }
  }

  button{
    outline:none;
  }
}
