.nav-tabs li a {
    background: #F9F9F9;
}

.nav-tabs li a {
    font-size: 16px;
    color: #868686;
    border-color: #DDD;
    border-bottom: 0px;
}

.tab-content {
    border: 2px solid #DDD;
    border-top: 0px;
    background: #F9F9F9;
    min-height: 200px;
}

.save_button {
    padding: 40px;
}

.input-group {
    padding: 20px 0;
}