.nav-tabs li a {
    background: #F9F9F9;
}

.nav-tabs li a {
    font-size: 12px;
    color: #868686;
    border-color: #DDD;
    border-bottom: 0px;
}

.tab-content {
    border: 2px solid #DDD;
    border-top: 0px;
    background: #F9F9F9;
    min-height: 200px;
}

.save_button {
    padding: 20px;
}

.input-group {
    padding: 20px 0;
}

.input-group .form-control {
    position: relative;
    z-index: inherit !important;
}