.countdown{
  background: $countdown_background_color;
  color:$countdown_text_color;

  .countdown_container{
    text-align:center;

    .countdown_number h2{
      font-size: $countdown_number_font_size;
    }
    .countdown_subtitle{
      font-weight:bold;
      font-size:20px;
    }
  }
}