.feature-section{

  .featured_section_title{
    margin-bottom: $section_title_after_space;
    h1{
      @include headingstyle();
    }

  }
  .featured_section_title::after{
    @include heading_border;
  }
  .feature_item_conteiner{

    .featured_item_img{
      width:100%;
      height:250px;
      background:#cdcdcd;
    }


    .featured_item_content{
      .title{
        margin-top:20px;
      }
      .paragraph{

      }
    }
  }

}