.upload_video_section{
  .upload_video_title{
    h1{
      margin:0 0 $featured_title_space 0;
      color:$upload_video_title_color;
    }
    margin-bottom:$section_title_after_space;
  }
  .upload_video_title::after{
    content: '';
    width: 200px;
    background: #000;
    margin: 0px auto;
    height: 5px;
    display: block;
  }
  .video_upload_box{
    width:100%;
  }
  .input-group__details:before{
    background:#000;
  }

  .term_condition{
    border:1px solid #000;
  }
  .term_condition_content{
      padding:10px;
  }
}
/** progress dialog box style **/

.upload_dialog{
  }
.upload_dialog.card{
  color:#fff;
  background:#000;
  img{
    width:100%;
  }
}