a {
  color: #ef626c;
}

a:hover {
  color: #78ab00;
}

.button {
  border: solid 2px #ef626c;
}

.button,
.button:visited {
  background: #ef626c;
}

a.big.button {
  border: solid 3px #ef626c;
}

a.big.button,
a.big.button:visited {
  color: #ef626c;
}

a.big.button:hover {
  background: #ef626c;
}

.menu a,
.menu a:visited {
  color: #ef626c;
}

.menu a:hover {
  color: #78ab00;
}

.menu a.active:after {
  background: #ef626c;
}

.content{
  padding-top:20px;
}

img{
	max-width:300px;
}