@mixin headingstyle($color:$featured-title-color){
  color: $color;
  text-align:center;
  margin:0 0 $featured-title-space 0;
}

@mixin heading-border($heading-border-width: 200px, $height: 5px, $margin-bottom: 10px, $color:#000) {
  content: '';
  width: $heading-border-width;
  background: $color;
  margin: 0px auto $margin-bottom auto;
  height: $height;
  display: block;
}

@mixin subheading{
  font-size: 15px;
  font-weight: 200;
}

@mixin outline-button{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 0;
  float: right;
  margin-top: 20px;
  background: transparent;
  font-size: 12px;
  text-transform:uppercase;
}

@mixin subheadingtext{
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
  color: #777;
}


// Extra Small devices (phones, 576px and down)
@mixin extra-small-device{
  @media only screen and (max-width: 576px) {
    @content
  }
}

// Small devices (landscape phones, 576px and up)
@mixin small-device{
  @media (min-width: 576px) {
    @content
  }
}

// Medium devices (tablets, 768px and up)
@mixin medium-device{
  @media (min-width: 768px) {
    @content
  }
}

// Large devices (desktops, 992px and up)
@mixin large-device{
  @media (min-width: 992px) {
    @content
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin extra-large-device{
  @media (min-width: 1200px) {
    @content
  }
}
