.video-dialog-container {
  .media-credit-container{
    width:100% !important;

      img {
        display:block;
        width:100%;
        height:auto;
      }
  }

  .card{
    .toolbar{
      button{
        i{
          margin:0 !important;
        }
      }
    }
  }

  .toolbar{
    .toolbar__items{
      .checkbox{
        margin:0;
      }
      .input-group__details{
        display:none;
      }
    }
  }
}

.admin-video-player{
  line-height:0;
  overflow-y:hidden !important;

  video{
    width:100%;
    height:auto;
  }
}

.mailer-stories .card__media{
  cursor:pointer;

  .hot-story{
    position:absolute;
    top:0;
    right:0;
    padding: 5px 15px;
    background: #ff0000;
  }

  .hot-story-content{
    color:#fff;
  }

}