#admin-mailer{
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    padding:0;
    background-image: none;
    white-space: nowrap;
    border:none;

    i{
      display:block;
      margin-right:5px;
    }
  }

  button{
    outline:none;
  }

  .material-icons{
    font-family: 'Material Icons' !important;
  }

  .radio, .checkbox{
    margin-top:0;
  }
}

/* Top level element */
#admin-mailer{
  .breadcrumb{
    a{
      color:#000;
    }
  }
}

.main-content {
  .list-inline{
    a{
      color:#000;
    }
  }
}

.admin-mailer-section {
  .divider {
    margin: 0;
  }
  .divider.header {
    margin-bottom: 20px;
  }
}

.mailer-dialog-error{
  .card__text{
    border-top: 5px solid #000;
  }
}