/**
******************************************************
  mailer page scss
******************************************************
 */
@import "../../../node_modules/vuetify/dist/vuetify.min.css";

@import "modules/basic-reset";
@import "modules/variables";
@import "modules/typography";
@import "modules/mixin";


/**
******************************************************
  Video dialog scss
******************************************************
 */
@import 'partials/asset-video-dialog-box';
@import 'partials/asset-story-in-dialog';




/**
******************************************************
  Global admin style
******************************************************
 */

.story-input {
  .v-input{
    margin:0;
    padding:0
  }
}

.title{
  font-size:12px !important;
}
