.final-price{
  margin-top:15px;

  h4{
    color: #fff;
    font-size: 12px;
    background: #000;
    padding: 10px;
    display: inline-block;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    line-height: 18px;

    span{
      font-size:18px;
    }
  }
}