.client-video-mail-section {

  .open-video-dialog {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-28px;
    margin-left:-28px;
    transition:all ease-in-out .3s;
    transform:scale(0);

    button{
      margin:0;
    }

  }

  .client-video-thumbnail:hover .open-video-dialog{
    transform:scale(1);
  }

  .cdi-label{
    position:absolute;
    top:0;
    right:0;

    button {
      width:30px;
      height:30px;
    }
  }
}