.story-dialog-container{
  position:relative;

  .dialog-box-switch{
    position:absolute;
    z-index:1;

    &.prev{
      left:10px;
      top:calc(50% - 50px);
    }

    &.next{
      top:calc(50% - 50px);
      right:10px;
    }
  }

}
//.theme--light .story-dialog-container .card{
//  background:#000;
//
//  .card__media__content{
//    .container{
//      padding:0;
//    }
//  }
//}

.theme--light .story-dialog-container .card{
  .card__media{
    height:250px !important;
  }
}

@include small-device {
  .theme--light .story-dialog-container .card{
    .card__media{
      height:250px !important;
    }
  }
}

@include medium-device {
  .theme--light .story-dialog-container .card{
    .card__media{
      height:350px !important;
    }
  }
}

@include large-device {
  .theme--light .story-dialog-container .card{
    .card__media{
      height:550px !important;
    }
  }
}

@include extra-large-device {
  .theme--light .story-dialog-container .card{
    .card__media{
      height:650px !important;
    }
  }
}

