.client-video-download-section {

}

.cd-box {
  h2 {
    line-height: 28px;
  }

  .cdi-content {
    height: 250px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;

    .cdi-label {
      position: absolute;
      top: 0;
      right: 0;

      button.btn--floating.btn--small {
        width: 30px;
        height: 30px;
      }
    }
  }

  .cd-type {
    text-transform: uppercase;
    font-weight: bold;
  }

  .cd-time {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
  }
}

.application .videos-section .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}

.application .cd-box .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}

.application .client-video-download-section .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}