
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Libs
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-select/dist/css/bootstrap-select.css";

@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap-tagsinput/dist/bootstrap-tagsinput.css";
@import "~bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css";

// Paritals
@import "libs/nestable";
@import "libs/videojs.scss";

// Variables
//@import "variables";

// Paritals
@import "partials/badge";
@import "partials/buttons";
@import "partials/chartjs";
@import "partials/fa";
@import "partials/forms";
@import "partials/gallery";
@import "partials/google";

@import "partials/logo";
@import "partials/loading";
@import "partials/page";
@import "partials/pagination";
@import "partials/toastr";
@import "partials/lists";
@import "partials/panel";
@import "partials/tables";
@import "partials/typography";
@import "partials/users";
@import "partials/utilities";
@import "partials/video";
@import "partials/view";

@import "partials/tagsinput";

// Media manager
@import "../talvbansal/media-manager/css/media-manager.css";
