/* ************************* Global style ******************* */
body{
  font-family:JosefinSansregular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.section-space{
  padding:$section-spacing 0px;
}

.nav-background{
  background:#000;
}

p.gray-text{
  color: $gray-5;
}

/* ************************* Font and size ******************* */

h1, h2, h3, h4, h5, p, form, form input{
  font-family:JosefinSansbold;
}

h1{
  @include headingstyle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size:24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size:16px;
  font-weight:lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading{
  font-size:40px;
}

.sub-heading{
  font-size:20px;
}

.card{
  font-family:JosefinSansregular;
}

/* ************************* End Font and size ******************* */

.text-center{
  text-align:center;
}


/* ************************* Login style ******************* */
.forgot-password{
  color:#000;

  &:hover{
    color:#777;
  }
}

/* ************************* Setup From font ******************* */
.input, label{
  font-family:JosefinSansregular;
}

/* ************************* Countdown section style ******************* */

.countdown{
  background: $countdown-background-color;
  color:$countdown-text-color;

  .countdown-container{
    text-align:center;

    .countdown-number h2{
      font-size: $countdown-number-font-size;
    }

    .countdown-subtitle{
      font-weight:bold;
      font-size:20px;
    }

  }
}


/* ************************* Upload video Section style ******************* */

.upload-video-section{
  .upload-video-title{
    margin-bottom:$section-title-after-space;

    h1{
      margin:0 0 $featured-title-space 0;
      color:$upload-video-title-color;
    }
  }

  .upload-video-title::after{
    content: '';
    width: 200px;
    background: #000;
    margin: 0px auto;
    height: 5px;
    display: block;
  }

  .video-upload-box{
    width:100%;
  }

  .input-group--details:before{
    background:#000;
  }

  .term-condition{
    border:1px solid #000;
  }

  .term-condition-content{
    padding:20px;
  }
}
