// ===== COLOR =====
$text-color:#222;
$theme-color:#170a48;
$secondary-color:#f47d31;
$ternary-color:#999b9e;
$link-color:#secondary-color;
$link-hover-color:#000;
$menu-item-color:white;
$section-padding: 40px;
$section_title_after_space: 20px;
$title_color: #000;


// ===== SECTION SPACING =====
$section_spacing : 50px;

// ===== HOME PAGE COLOR =====
$home_textcolor: #ffffff;



// ===== FEATURE SECTION THEME =====
$featured_title_color : #000000;
$feature_container_spacing: 15px;
$featured_title_space : 10px;


// ===== COUNTDOWN SECTION THEME =====
$countdown_background_color: #000;
$countdown_text_color: #fff;
$countdown_number_font_size: 40px;


// ===== FOOTER SECTION THEME =====
$footer_background_color: #000;

// ===== UPLOAD VIDEO SECTION THEME =====
$upload_video_title_color: #000;

// ===== FONTS =====
$text-font:JosefinSansregular, Arial, sans-serif;
$heading-font: JosefinSansbold, Georgia, serif;


// ===== SIZES =====
$content-width:960;
$header-height:60px;
$footer-height:90px;
