// ===== COLOR =====
$text-color:#222;
$ternary-color:#999b9e;
$link-color:#secondary-color;
$link-hover-color:#000;
$menu-item-color:white;
$section-padding: 40px;
$section-title-after-space: 20px;
$title-color: #000;
$gray-5: rgba(0,0,0,.54);


// ===== SECTION SPACING =====
$section-spacing : 50px;
$section-spacing-mobile : 30px;

// ===== HOME PAGE COLOR =====
$home-textcolor: #ffffff;


/*
 ********* HEADING SPACE *********
 */

$heading_bottom_space: 20px;


/*
 ********* FEATURE SECTION THEME *********
 */
$featured-title-color : #000000;
$feature-container-spacing: 15px;
$featured-title-space : 0;


// ===== COUNTDOWN SECTION THEME =====
$countdown-background-color: #000;
$countdown-text-color: #fff;
$countdown-number-font-size: 40px;


// ===== FOOTER SECTION THEME =====
$footer-background-color: #000;

// ===== UPLOAD VIDEO SECTION THEME =====
$upload-video-title-color: #000;

// ===== FONTS =====
$text-font:JosefinSansregular, Arial, sans-serif;
$heading-font: JosefinSansbold, Georgia, serif;


// ===== SIZES =====
$content-width:960;
$header-height:60px;
$footer-height:90px;
