.sniffr-media-thumbnail {
  height: 200px !important;
}

@include small-device {
  .sniffr-media-thumbnail {
    height: 200px !important;
  }
}

@include medium-device {
  .sniffr-media-thumbnail {
    height: 200px !important;
  }
}

@include large-device {
  .sniffr-media-thumbnail {
    height: 220px !important;
  }
}

@include extra-large-device {
  .sniffr-media-thumbnail {
    height: 220px !important;
  }
}


.videos-section{

  .headline{
    overflow: hidden;
    height: 32px;
    width: 100%;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    white-space: nowrap;
  }

}
