@keyframes unilad-animation-from-in {
  from{
    transform:scale(0);
  }
  to{
    transform:scale(1);
  }
}

@keyframes unilad-animation-from-right-side {
  from{
    transform:translateX(200px);
    opacity:0;
  }
  to{
    transform:translateX(0);
    opacity:1
  }
}

@keyframes unilad-animation-from-left-side {
  from{
    transform:translateX(-200px);
    opacity:0;
  }
  to{
    transform:translateX(0);
    opacity:1
  }
}