.slide-fade-enter-active {
  transition:all 1s ease-in-out;
}
.slide-fade-enter-to {
  opacity:1;
}

.slide-fade-leave-active {
  transition: all .4s ease-in-out;
  opacity:0;
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}