@import "~vuetify/dist/vuetify.min.css";
@import '../../share/scss/frontend';


/* ************************* Header style ******************* */
@import "partials/header";


/* ************************* NAV style ******************* */
//@import "./layout/nav";



/* ************************* Home Page style ******************* */
@import "partials/pages/home";

/* ************************* Login Page style ******************* */
@import "partials/login";

/* ************************* Videos Page style ******************* */
@import "partials/pages/videos";

/* ************************* Video dialog box section style ******************* */
@import "partials/pages/stories";


/* ************************* Video detail style ******************* */
@import "partials/pages/video-detail";


/* ************************* Video upload page style ******************* */
@import "partials/pages/upload-form";


/* ************************* Search style ******************* */
@import "partials/search";


/* ************************* Pagination style ******************* */
@import "partials/pagination";


/* ************************* Submission form page ******************* */
@import "partials/pages/submission-form";

/* ************************* More detail form page ******************* */
@import "partials/pages/more-detail-form";

/* ************************* Quote buy dialog component ******************* */
@import "partials/quote-buy-dialog";


@import "partials/asset-video-card";


@include extra-small-device{
}

@include small-device{
}

@include medium-device{

}
@include large-device{

}
@include extra-large-device{
}
