@import "./basic-reset";
@import "./variables";
@import "./fonts";
@import "./mixin";
@import "./global";
@import "./plugin";


/* ************************* Animation css ******************* */
//@import "./animation";

/* ************************* Header style ******************* */
@import "layout/header";

/* ************************* NAV style ******************* */
@import "./layout/nav";

/* ************************* Home Page style ******************* */
@import "pages/home";

/* ************************* Login Page style ******************* */
@import "pages/login";


/* ************************* Videos Page style ******************* */
@import "pages/videos";


/* ************************* Video detail style ******************* */
@import "pages/video-detail";

/* ************************* Video upload page style ******************* */
@import "pages/video-upload";

/* ************************* Footer style ******************* */
@import "layout/footer";

/* ************************* Pagination style ******************* */
@import "layout/pagination";

/* ************************* Submission form page ******************* */
@import "pages/submission-form";


@include small-device{
}

@include medium-device{

}
@include large-device{

}
@include extra-large-device{
}