@import "./basic-reset";
@import "./variables";
@import "./fonts";
@import "./mixin";
@import "./global";
@import "./plugin";
@import "../../../../node_modules/vuetify/dist/vuetify.min.css";


/* ************************* Animation css ******************* */
@import "./animation";


/* ************************* Header style ******************* */
@import "layout/header";


/* ************************* NAV style ******************* */
//@import "./layout/nav";



/* ************************* Home Page style ******************* */
@import "pages/home";

/* ************************* Login Page style ******************* */
@import "includes/login";

/* ************************* Quote Page style ******************* */
@import "pages/quote";

/* ************************* Videos Page style ******************* */
@import "pages/videos";

/* ************************* Video dialog box section style ******************* */
@import "includes/video-dialog-box";

/* ************************* Video dialog box section style ******************* */
@import "pages/stories";


/* ************************* Video detail style ******************* */
@import "pages/video-detail";


/* ************************* Video upload page style ******************* */
@import "form/video-upload";


/* ************************* Footer style ******************* */
//@import "layout/footer";


/* ************************* Pagination style ******************* */
@import "includes/pagination";


/* ************************* Submission form page ******************* */
@import "form/submission-form";

/* ************************* More detail form page ******************* */
@import "form/more-detail";


@import "partials/buttons";
@import "partials/video-card";

@include small-device{
}

@include medium-device{

}
@include large-device{

}
@include extra-large-device{
}