.videos_filter_form {
  .form-group{
    margin:0;
  }
  input{
    width:100%;
    padding:15px;
    margin-bottom:10px;
    text-transform:uppercase;
    background:transparent;
    border:1px solid #777;
    border-radius:0;
    color:#fff;
  }
  input::placeholder{
    color:#fff;
  }

  @include small-device{
    input{
      margin-bottom:10px;
    }
  }

  @include medium-device{
    input{
      margin-bottom:0;
    }
  }
  @include large-device{
    input{
      margin-bottom:0;
    }
  }
  @include extra-large-device{
    input{
      margin-bottom:0;
    }
  }
}

.videos_filter_section{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,1);
  padding:20px;
  z-index:10;
  .logo img{
    width:110px;
  }
}