.videos_section{

  .video_section_title{
    margin-bottom: $section_title_after_space;
    h1{
      @include headingstyle();
    }

  }
  .video_section_title::after{
    @include heading_border;
  }

  /*
  ================ Video item style ================
  */

  .card__media__content {
    a{
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;

      .thumbnail-overlay{
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index:2;
        background:rgba(0,0,0,.5);
        opacity:0;
        transition:all ease-in-out .3s;
      }

      .label-success{
        position:absolute;
        top:0;
        right:0;
        background:#5cb85c;
        color:#fff;
        padding:5px 10px;
        z-index:3
      }

    }
  }

  .card__title{
    height:115px;
    position:relative;
    .video-duration{
      position:absolute;
      top:5px;
      right:10px;
      font-weight:bold;
    }
  }



  .video_item_container:hover .video_item_link{
    bottom:20px;
  }

}