
.gallery-env{
    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after{
        clear: both;
    }

    .date-header {
        background: #f9f9f9;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .date-header h2 {
        margin-top: 10px;
    }

    .album{
        border: 1px solid #ebebeb;
        margin-bottom: 30px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
        border-radius: 3px;
        background-clip: padding-box;

        &.success{
            border: 1px solid #b4e8a8;
        }

        &.warning{
            border: 1px solid #faebcc;
        }

        &.danger{
            border: 1px solid #ffafbd;
        }

        .album-info{
            padding: 20px;

            p{
                max-height: 30px;
                overflow: hidden;
                min-height: 30px;

                margin: 0;
                margin-top: 10px;
                color: #80858e;
            }

            h3{
                max-height:20px;
                height:20px;
                font-size: 18px;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        header{
            position: relative;
            padding-bottom: 0;

            &:hover{
                .album-options {
                    opacity: 1;
                }
            }

            img{
                overflow:hidden;
                position:absolute;
                margin: auto;
                line-height: 1;
                width: 100%;
                display: block;
                max-width: 100%;
                height: auto;
                border-radius: 3px 3px 0 0;
                background-clip: padding-box;
            }

            .album-options{
                position: absolute;
                display: block;
                left: 10px;
                top: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                padding: 5px 7px;
                font-size: 11px;
                opacity: 0;
                filter: alpha(opacity=0);
                border-radius: 3px;
                background-clip: padding-box;
                transition: all 300ms ease-in-out;
            }
        }

        footer{
            border-top: 1px solid #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;

            .album-images-count, .album-options{
                a{
                    color: #8d929a;
                    font-size: 18px;
                    margin-right: 10px;
                    display: inline-block;
                    border-radius: 3px;
                    background-clip: padding-box;
                    transition: all 300ms ease-in-out;

                    &:hover{
                        background: #f5f5f5;
                        color: #43464b;
                    }

                    &.text-success{
                        color: #00a651;
                    }

                    &.text-warning{
                        color: #fad839;
                    }

                    &.text-danger{
                        color: #cc2424;
                    }

                    + a{
                        margin-left: 5px;
                    }
                }
            }

            .album-images-count{
                color: #8d929a;
            }

            .album-options{
                padding-left: 10px;
                border-left: 1px solid #f0f0f0;
            }

        }
    }
}

.modal .croppable-image {
  border: 4px solid rgba(235, 235, 235, 0.5);
}
.modal h4 + .croppable-image {
  margin-top: 5px;
}
.jcrop-keymgr {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.gallery-image-edit-env {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;

    img{
        width: 100%;
    }

    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        display: block;
        z-index: 1000;
        opacity: 0.7;
        border-radius: 3px;
        background-clip: padding-box;
        transition: all 300ms ease-in-out;

        &:hover{
            opacity: 1;
        }
    }

    .jcrop-holder {
        border-radius: 3px 3px 0 0;
        background-clip: padding-box;
    }
}
