
.links-list{
    padding-top:4px;
    padding-bottom:4px;

    li{
        a{
            span{
                font-size:12px;
            }
        }
    }
}

#main-menu{
    > #search{
        button{
            padding-left: 20px;
            padding-bottom: 20px;
            margin: 0;
        }
        .search-input{
            position: absolute;
            visibility: hidden;
        }

        &.focused{
            .search-input{
                display: block;
                position: absolute;
                visibility: visible;
                top: 0px;
                left: 65px;
                background: #262b34;
                border: 1px solid #454a54;
                width: 250px;
                border-radius: 0 3px 3px 0;
                background-clip: padding-box;
                border-left: 0;
                padding: 15px 20px;
                padding-bottom: 16px;
                padding-left: 0;
                border: 0;
            }
        }
    }

    .has-sub > a{
        background-color: transparent;

        &:before {
            display: none;
        }
    }

    > li{
        > a{
            position: relative;

            > span{
                display: block;
                position: absolute;
                top: 0;
                left: 65px;
                margin-top: -1px;
                padding: 12px 10px;
                background: #303641;
                border-top: 1px solid #454a54;
                border-bottom: 1px solid #454a54;
                width: 250px;
                visibility: hidden;
                border-radius: 0 3px 3px 0;
                background-clip: padding-box;
                opacity: 0;
            }

            span{
                transition: none;

                &.badge{
                    position: absolute;
                    right: -240px;
                    top: 10px;
                    display: none;
                }
            }
        }

        ul{
            border-top-color: #454a54;
        }

        > ul{
            display: block;
            visibility: hidden;
            position: absolute;
            height: 0;
            top: auto;
            left: 65px;
            width: 250px;
            border-radius: 0 0 3px 0;
            background-clip: padding-box;
            opacity: 0;

            > li{
                > a{
                    span{
                        &.badge{
                            display: none;
                        }
                    }
                }
            }

            li{
                border-bottom: 1px solid #454a54;

                a{
                    padding-left: 10px;
                }

                li{
                    a{
                        padding-left: 25px;
                    }

                    li{
                        a{
                            padding-left: 40px;
                        }

                        li{
                            a{
                                padding-left: 55px;
                            }
                        }
                    }
                }
            }
        }
    }
} 

.page-container{
    &.sidebar-is-collapsing{
        #main-menu li{
            &#search .search-input {
                opacity: 0;
                transition: all 300ms ease-in-out;
            } 
            
            a{
                &:before{
                    display: none;
                }

                span{
                    opacity: 0;
                    transition: opacity 250ms ease-in-out !important;
                }
            }   
        }
        
    }

    &.sidebar-is-showing{
        #main-menu{
            li{
                &#search .search-input{
                    opacity: 0;
                }

                a{
                    &:before{
                        opacity: 0;
                    }

                    span{
                        opacity: 0;
                    }
                }
            }
        }
    }

    &.sidebar-collapsed{
        #main-menu > li{
            > a > span:not(.badge) {
                display: block;
                position: absolute;
                top: 0;
                left: 65px;
                margin-top: -1px;
                padding: 12px 10px;
                background: #303641;
                border-top: 1px solid #454a54;
                border-bottom: 1px solid #454a54;
                width: 250px;
                visibility: hidden;
                border-radius: 0 3px 3px 0;
                background-clip: padding-box;
                opacity: 0;

                &:hover{
                    > ul{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#main-menu > li.has-sub:hover.has-sub > a,
#main-menu > li:hover.has-sub > a {
  cursor: default;
}
#main-menu > li.has-sub:hover.has-sub > a > span:not(.badge),
#main-menu > li:hover.has-sub > a > span:not(.badge) {
  border-radius: 0 3px 0 0;
  background-clip: padding-box;
}
#main-menu > li.has-sub:hover.has-sub > a:hover,
#main-menu > li:hover.has-sub > a:hover {
  color: #aaabae;
}
#main-menu > li.has-sub:hover > ul,
#main-menu > li:hover > ul {
  height: auto;
}
#main-menu > li.has-sub:hover > a > span,
#main-menu > li:hover > a > span {
  visibility: visible;
  opacity: 1;
}
#main-menu > li.has-sub:hover a span.badge,
#main-menu > li:hover a span.badge {
  display: block;
}
#main-menu > li.has-sub:hover > ul,
#main-menu > li:hover > ul {
  visibility: visible;
  opacity: 1;
}