

#charts_env .panel-options{
    padding-top:6px;
    padding-right:6px;
}

.Chartjs-figure{
    height:250px;
}

.chart1-panel{
    height:315px;
}

#chart-1-container, 
#chart-3-container, 
#chart-4-container, 
#active-users-container{
    width:auto;
    height:250px;
    display:block;
    position:relative;
}

.Chartjs-legend {
    list-style: none;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;

    > li{
        display: inline-block;
        padding: .25em .5em;  
        
        > i{
            display: inline-block;
            height: 1em;
            margin-right: .5em;
            vertical-align: -.1em;
            width: 1em;
        }      
    }
}
