
.search-form-full .form-group, 
.search-form-full .form-group 
.form-control{
    margin:0px;
}

#new-menu-form{
    input[type="radio"]{
        margin-left:10px;
    }   

    input[type="radio"]:first-child{
        margin-left:0px;
    }
}

label{
    font-weight: 400;
}