.bootstrap-tagsinput {
    width:100% !important;
}

.label-info {
    background:#000;
}
.label {
    font-size: 14px;
    padding:8px;
}
.tt-suggestion {
    padding:6px;
}
.tt-input {
    width:100%;
    background:#fff !important;
}
