

.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button { background: rgba(0,0,0,0.58) }
.vjs-default-skin .vjs-slider { background: rgba(0,0,0,0.19333333333333333) }

#video-error {
    display:none;
}

.video-container {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    background-color: #000;

    &.embedded{
        padding-bottom: unset;
        background-color: #fff;
        height: unset;

        video{
            position: relative;
        }

        iframe{
            position: relative;
        }

        p{
            a{
                color:#888;
            }
        }
    }

    iframe, object, embed{
        border: 0px;
        width: 100%;
        margin-bottom: 20px;
        z-index: 99;
    }

    iframe.youtube-iframe{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    iframe.instagram-media{
        margin: 0px auto 12px !important;
    }

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    p{
        font-size: 22px;
        color: #ccc;
        text-align: center;
        margin:20px;
        word-break:break-word;

        a{
            color:#ccc;
        }
    }

    .video-thumb{
        display: block;
        padding-bottom: 56.23%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;

        .play-button {
            background: url(/content/themes/default/assets/img/play-button-large.png);
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -40px;
            margin-top: -40px;
            transition: opacity 0.2s linear;
            opacity: 0;
        }

        &:hover{
            .play-button {
                opacity: 0.9;
                transition: opacity 0.2s linear;
            }
        }

        .thumbnail-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 3px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.4) 100%);
        }
    }
}

.nsfw {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 60px;
  border-style: solid;
  border-width: 0 55px 55px 0;
  border-color: transparent #999 transparent transparent;
  top: -10px;
  right: 0px;
  z-index: 99999;
  color: #333;
}
.nsfw-active {
    border-color: transparent #da0039 transparent transparent !important;
    color: #fff !important;
}
.nsfw .corner-triangle-text {
  position: relative;
  font-size: 12px;
  top: -14px;
  right: -6px;
  font-weight: bold;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nsfw .corner-triangle-text span.corner-triangle-firstline {
  margin-left: 29px;
}
.nsfw .corner-triangle-text a {
  color: white;
}
.nsfw .corner-triangle-text a:hover,
.nsfw .corner-triangle-text a:link,
.nsfw .corner-triangle-text a:visited,
.nsfw .corner-triangle-text a:active,
.nsfw .corner-triangle-text a:focus {
  text-decoration: none;
}

.youtube-player{
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    img{
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        transition: .4s all;

        &:hover{
            -webkit-filter: brightness(75%);
        }
    }

    .play{
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }
}

.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.tweet {
    border: none !important;
    box-shadow: none !important;
    background:#000 !important;
}
.twitter-video {
    margin: 0 auto !important;
}

.video-img{
    border-radius:3px;
    margin-bottom:10px;
}

.video-js .vjs-audio-button, .video-js .vjs-big-play-button, .video-js .vjs-captions-button, .video-js .vjs-chapters-button, .video-js .vjs-control.vjs-close-button, .video-js .vjs-descriptions-button, .video-js .vjs-fullscreen-control, .video-js .vjs-mouse-display, .video-js .vjs-mute-control, .video-js .vjs-mute-control.vjs-vol-0, .video-js .vjs-mute-control.vjs-vol-1, .video-js .vjs-mute-control.vjs-vol-2, .video-js .vjs-play-control, .video-js .vjs-play-control.vjs-playing, .video-js .vjs-play-progress, .video-js .vjs-subtitles-button, .video-js .vjs-volume-level, .video-js .vjs-volume-menu-button, .video-js .vjs-volume-menu-button.vjs-vol-0, .video-js .vjs-volume-menu-button.vjs-vol-1, .video-js .vjs-volume-menu-button.vjs-vol-2, .video-js.vjs-fullscreen .vjs-fullscreen-control, .vjs-icon-audio, .vjs-icon-audio-description, .vjs-icon-cancel, .vjs-icon-captions, .vjs-icon-chapters, .vjs-icon-circle, .vjs-icon-circle-inner-circle, .vjs-icon-circle-outline, .vjs-icon-cog, .vjs-icon-facebook, .vjs-icon-fullscreen-enter, .vjs-icon-fullscreen-exit, .vjs-icon-gplus, .vjs-icon-hd, .vjs-icon-linkedin, .vjs-icon-pause, .vjs-icon-pinterest, .vjs-icon-play, .vjs-icon-play-circle, .vjs-icon-replay, .vjs-icon-spinner, .vjs-icon-square, .vjs-icon-subtitles, .vjs-icon-tumblr, .vjs-icon-twitter, .vjs-icon-volume-high, .vjs-icon-volume-low, .vjs-icon-volume-mid, .vjs-icon-volume-mute {
    font-family: VideoJS;
    font-weight: 400;
    font-style: normal;
}

.vjs-default-skin .vjs-big-play-button {
    background: rgba(0,0,0,0.75);
    border-radius: 50%;
    border: #fff solid 3px;
    height: 72px;
    width: 72px;
    margin-top: -7%;
}
.video-js .vjs-big-play-button:before {
    padding-top: 12px;
    font-size: 38px;
}
