@font-face {
  font-family: JosefinSansregular;
  src: url(/fonts/JosefinSans-Regular.ttf?aff001b45565556d667c11fe85cada0d);
}

@font-face {
  font-family: JosefinSansbold;
  src: url(/fonts/JosefinSans-Bold.ttf?9880fc0845d0f3950e490e4f3b05c08c);
}

/* ************************* Global style ******************* */

section.section_space {
  padding: 50px 0px;
}

.nav_background {
  background: #000;
}

body {
  font-family: JosefinSansregular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: JosefinSansbold;
  color: #000000;
  text-align: center;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: JosefinSansbold;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  font-weight: lighter;
  font-family: JosefinSansregular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ************************* Animation css ******************* */

/* ************************* Header style ******************* */

#video {
  position: relative;
  display: table;
  width: 100%;
}

#video video {
  background: url(/images/sample_bg.jpg?a44387c21f3a0dbcf927145e76617058) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#video .upload_video_button {
  background: #fff;
  line-height: 30px;
  padding-top: 8px;
  color: #000;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  width: 250px;
  font-weight: bold;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

#video .upload_video_button:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

#video:before {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.heading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.heading .position-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.heading .position-center h1 {
  margin-bottom: 15px;
  color: #fff;
  width: 55%;
  margin: 0 auto;
}

/* ************************* NAV style ******************* */

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 2000;
}

#nav .logo {
  margin-bottom: 20px;
  text-align: center;
}

#nav .logo img {
  width: 110px;
}

@media (min-width: 576px) {
  #nav .logo {
    margin-bottom: 10px;
    text-align: left;
  }

  #nav .logo img {
    width: 110px;
  }
}

@media (min-width: 768px) {
  #nav .logo {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  #nav .logo {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  #nav .logo {
    text-align: left;
    margin-bottom: 0;
  }
}

.navigation {
  margin-top: 20px;
  text-align: center;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  margin-right: 20px;
  display: inline;
}

.navigation ul li a {
  color: #ffffff;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  opacity: .5;
}

.navigation ul li a:focus {
  outline: none;
}

.navigation .dropdown a img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -2px;
}

.navigation .dropdown .dropdown-menu {
  background: #000;
  border: none;
}

.navigation .dropdown .dropdown-menu li {
  display: block;
}

.navigation .dropdown .dropdown-menu li a {
  color: #fff;
  text-align: left;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.navigation .dropdown .dropdown-menu li a:hover {
  color: #fff;
  background: #1b1b1b;
}

@media (min-width: 576px) {
  .navigation {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .navigation {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .navigation {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .navigation {
    text-align: right;
  }
}

.second-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  padding: 20px;
  z-index: 100;
}

.second-navigation .logo {
  text-align: center;
  margin-bottom: 20px;
}

.second-navigation .logo img {
  width: 110px;
}

@media (min-width: 576px) {
  .second-navigation .logo {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .second-navigation .logo {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .second-navigation .logo {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .second-navigation .logo {
    text-align: left;
  }
}

.page_videos + #nav {
  background: #000;
}

/* ************************* Home Page style ******************* */

.feature-section .featured_section_title {
  margin-bottom: 40px;
}

.feature-section .featured_section_title h1 {
  color: #000000;
  text-align: center;
  margin: 0 0 10px 0;
}

.feature-section .featured_section_title::after {
  content: '';
  width: 200px;
  background: #000;
  margin: 0px auto 10px auto;
  height: 5px;
  display: block;
}

.feature-section .feature_item_conteiner .featured_item_img {
  width: 100%;
  height: 250px;
  background: #cdcdcd;
}

.feature-section .feature_item_conteiner .featured_item_content .title {
  margin-top: 20px;
}

.countdown {
  background: #000;
  color: #fff;
}

.countdown .countdown_container {
  text-align: center;
}

.countdown .countdown_container .countdown_number h2 {
  font-size: 40px;
}

.countdown .countdown_container .countdown_subtitle {
  font-weight: bold;
  font-size: 20px;
}

.upload_video_section .upload_video_title {
  margin-bottom: 40px;
}

.upload_video_section .upload_video_title h1 {
  margin: 0 0 10px 0;
  color: #000;
}

.upload_video_section .upload_video_title::after {
  content: '';
  width: 200px;
  background: #000;
  margin: 0px auto;
  height: 5px;
  display: block;
}

.upload_video_section .video_upload_box {
  width: 100%;
}

/* ************************* Login Page style ******************* */

.login_section {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.login_section .login_title {
  color: #000;
  text-align: center;
  margin-top: 0;
}

.login_section .login_title:after {
  content: '';
  width: 50px;
  background: #000;
  margin: 0px auto 20px auto;
  height: 2px;
  display: block;
}

.login_section .form-submit {
  width: 100%;
  text-align: center;
}

.login_section .form-submit input[type='submit'] {
  background: #000;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  height: 38px;
  width: auto;
  float: none;
  display: inline-block;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.login_section .form-submit input[type='submit']:hover {
  background: #1a1a1a;
}

.login_section .forgot-password {
  display: block;
  margin-top: 10px;
}

.login_section .forgot-password a {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.login_section .form-group input {
  background: #fafafa;
  padding: 10px;
  border: none;
  border-radius: 0;
  color: #000;
}

.login_section .form-group input[type="submit"] {
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
}

.login_section .form-group input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.login_section a {
  color: #000;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal-body {
  position: relative;
}

.modal a.modal_close {
  color: #000;
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal a.modal_close:focus {
  outline: none;
}

.table {
  display: table;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* ************************* Videos Page style ******************* */

#videos {
  position: relative;
  display: table;
  width: 100%;
  height: 450px;
}

#videos video {
  background: url(/images/sample_bg.jpg?a44387c21f3a0dbcf927145e76617058) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#videos .heading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: table;
  width: 100%;
  height: 100%;
}

#videos .heading .position-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

#videos .heading .position-center h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}

#videos .heading .position-center h1:after {
  content: '';
  width: 100px;
  background: #fff;
  margin: 0px auto 10px auto;
  height: 5px;
  display: block;
}

.videos_filter_form .form-group {
  margin: 0;
}

.videos_filter_form input {
  margin-bottom: 10px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #777;
  border-radius: 0;
  color: #fff;
}

.videos_filter_form input::-webkit-input-placeholder {
  color: #fff;
}

.videos_filter_form input:-ms-input-placeholder {
  color: #fff;
}

.videos_filter_form input::-ms-input-placeholder {
  color: #fff;
}

.videos_filter_form input::placeholder {
  color: #fff;
}

@media (min-width: 576px) {
  .videos_filter_form input {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .videos_filter_form input {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .videos_filter_form input {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .videos_filter_form input {
    margin-bottom: 0;
  }
}

.videos_filter_section {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  padding: 20px;
  z-index: 10;
}

.videos_filter_section .logo img {
  width: 110px;
}

.videos_section .video_section_title {
  margin-bottom: 40px;
}

.videos_section .video_section_title h1 {
  color: #000000;
  text-align: center;
  margin: 0 0 10px 0;
}

.videos_section .video_section_title::after {
  content: '';
  width: 200px;
  background: #000;
  margin: 0px auto 10px auto;
  height: 5px;
  display: block;
}

.videos_section .video_item_container .video_item_img {
  width: 100%;
  height: 250px;
  background: #cdcdcd;
  position: relative;
  overflow: hidden;
}

.videos_section .video_item_container .video_item_img .video_item_label {
  position: absolute;
  top: 0;
  right: 0;
  background: #5cb85c;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.videos_section .video_item_container .video_item_img .video_item_link {
  color: #777;
  position: absolute;
  bottom: -40px;
  right: 20px;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.videos_section .video_item_container .video_item_content .title {
  margin-top: 20px;
}

.videos_section .video_item_container:hover .video_item_link {
  bottom: 20px;
}

.pagination_section .pagination li {
  margin-right: 5px;
}

.pagination_section .pagination li a {
  border: none;
  color: #cdcdcd;
  font-size: 24px;
  font-weight: bold;
}

.pagination_section .pagination li.active a {
  color: #000;
  background: none;
}

.pagination_section .pagination li.active a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination_section .page-item:last-child .page-link {
  color: #fff;
  background: #000;
  border-radius: 0;
}

.pagination_section .page-item:first-child .page-link {
  color: #fff;
  background: #000;
  border-radius: 0;
}

/* ************************* Video detail style ******************* */

.video_detail_nav {
  background: #000;
}

.videos_detail_section {
  margin-top: 80px;
}

.videos_detail_section .video_container {
  width: 100%;
  height: 650px;
  background: #cdcdcd;
}

.videos_detail_section .video_detail_content {
  margin-top: 30px;
}

.videos_detail_section .video_detail_content h2 {
  text-transform: uppercase;
  margin-top: 0;
}

.videos_detail_section .video_detail_tags ul {
  list-style: none;
  padding: 0;
}

.videos_detail_section .video_detail_tags ul li {
  display: inline-block;
}

.videos_detail_section .video_detail_tags ul li a {
  color: #cdcdcd;
  text-decoration: none;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.videos_detail_section .video_detail_tags ul li a:hover {
  color: #000;
}

.videos_detail_section .video_detail_sidebar .video_detail_social_share {
  text-align: center;
  width: 200px;
  margin: 50px auto 0px auto;
}

.videos_detail_section .video_detail_sidebar .video_license {
  width: 200px;
  padding: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.videos_detail_section .video_detail_sidebar .video_social_link h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.videos_detail_section .video_detail_sidebar .video_social_link ul {
  list-style: none;
  padding: 0;
}

.videos_detail_section .video_detail_sidebar .video_social_link ul li {
  display: inline-block;
}

.videos_detail_section .video_detail_sidebar .video_social_link ul li a {
  color: #000;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.videos_detail_section .video_detail_sidebar .video_social_link ul li a:hover {
  opacity: .5;
}

/* ************************* Footer style ******************* */

.footer_section {
  background: #000;
}

.footer_section .footer_left .footer_logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer_section .footer_left .footer_logo img {
  width: 110px;
}

.footer_section .footer_left .foote_text {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
}

@media (min-width: 576px) {
  .footer_section .footer_left .footer_logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer_section .footer_left .foote_text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer_section .footer_left .footer_logo {
    text-align: left;
    margin-bottom: 0;
  }

  .footer_section .footer_left .foote_text {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .footer_section .footer_left .footer_logo {
    text-align: left;
    margin-bottom: 0;
  }

  .footer_section .footer_left .foote_text {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .footer_section .footer_left .footer_logo {
    text-align: left;
    margin-bottom: 0;
  }

  .footer_section .footer_left .foote_text {
    text-align: left;
  }
}

.footer_section .footer_right .social_section {
  text-align: center;
}

.footer_section .footer_right .social_section ul {
  list-style: none;
  margin: 0;
}

.footer_section .footer_right .social_section ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_section .footer_right .social_section ul li a {
  color: #fff;
}

@media (min-width: 576px) {
  .footer_section .footer_right .social_section {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer_section .footer_right .social_section {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .footer_section .footer_right .social_section {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .footer_section .footer_right .social_section {
    text-align: right;
  }
}

