.login-dialog{
  display:none;
}
.login_section{
  margin:0 auto;
  padding:20px;
  background:#fff;
  width:450px;

  .login_title{
    color: $title_color;
    text-align:center;
    margin-top:0;
  }
  
  .login_title:after{
    @include heading_border(50px, 2px, 0px);
  }

  .form-submit{
    
  }

  .forgot-password{
    display:block;
    margin-top:10px;

    a{
      color:#000;
      text-decoration:none;

      &:hover{
        text-decoration:underline;
      }
    }
  }
}