/* ************************* Feature section style ******************* */

.feature-section{

  .featured-section-title{
    margin-bottom: $section-title-after-space;

    h1{
      @include headingstyle();
    }

  }
  .featured-section-title::after{
    @include heading-border;
  }
  .feature-item-conteiner{

    .featured-item-img{
      width:100%;
      height:250px;
      background:#cdcdcd;
    }

    .featured-item-content{
      .title{
        margin-top:20px;
      }
      .paragraph{

      }
    }
  }

}


/* ************************* progress dialog box style ******************* */

.upload-dialog{
}
.upload-dialog.card{
  color:#fff;
  background:#000;
  img{
    width:100%;
  }
}