.video-detail-nav{
}

.videos-detail-section{

  .btn .btn__content .icon {
    margin-left: -8px;
  }

  .nsfw {
    position: absolute;
    right:0;
    display: inline-block;
    background: #da0039;
    padding: 5px 10px;

    a{
      text-decoration:none;
      color: #fff;
    }

  }

  .horizontal {
    .video-container{
      .fb-video{
        width:100% !important;
      }
    }
  }

  .vertical {
    .video-container{
      .fb-video{
        width:50% !important;
      }
    }
  }

  .video-container{

    .video-js{
      height:350px;
      position:unset;
      background:none;
    }

    display:flex;
    width:100%;
    position:relative;
    overflow:hidden;

    .video_player-dimensions{
      width:100%;
      max-height:450px;
      position:relative;
    }

    .vjs-control-bar{
      display:none;
    }

    .vjs-caption-settings{
      display:none;
    }

    iframe {
      width:100%;
      
      &.youtube-iframe {
        height:300px;
      }
      &.instagram-media {
        margin:0 auto !important; // to overwrite default style 
      }

      @include small-device {
        &.youtube-iframe{
          height:300px;
        }
      }

      @include medium-device{
        &.youtube-iframe{
          height:450px;
        }
      }

      @include large-device{
        &.youtube-iframe{
          height:450px;
        }
      }

      @include extra-large-device{
        &.youtube-iframe{
          height:450px;
        }
      }
    }
    .fb-video{
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      span{
        width:100% !important;
      }
    }
  }

  .embedded{
  }

  .video-detail-content{
    margin-top:30px;

    h2{
      text-transform:uppercase;
      margin-top:0;
    }
  }

  .video-detail-tags{
    ul{
      list-style:none;
      padding:0;

      li{
        display:inline-block;

        a{
          color:#cdcdcd;
          font-size:16px;
          margin-right:10px;
          text-decoration:none;
          transition:all ease-in-out .3s;
        }

        a:hover{
          color:$link-hover-color;
        }
      }
    }
  }

  .video-detail-sidebar{
    .video-detail-social-share{
      width:150px;
      text-align:center;
    }

    .video-license{
      width:200px;
      padding:10px;
      background:#000;
      color:#fff;
      text-align:center;
      text-transform:uppercase;
      font-weight:bold;
      margin-bottom:10px;
    }

    .video-social-link{
      h3{
        font-size:16px;
        font-weight:bold;
        text-transform:uppercase;
        margin-bottom:5px;
      }

      ul{
        list-style:none;
        padding:0;

        li{
          display:inline-block;
          margin-right:10px;

          a{
            color:#000;
            transition:all ease-in-out .3s;
          }

          a:hover{
            opacity:.5;
          }
        }
      }
    }
  }

  .loading {
    animation: loader 1s infinite;
    display: flex;
  }
}