.video-detail-nav{
  background:#000;
}

.videos-detail-section{
  .video-container{
    width:100%;

    .video_player-dimensions{
      width:100%;
      height:450px;
      position:relative;
    }

    .vjs-control-bar{
      display:none;
    }

    .vjs-caption-settings{
      display:none;
    }

    iframe {
      width:100%;
      
      &.youtube-iframe {
        height:auto;
      }
      &.instagram-media {
        margin:0 auto !important; // to overwrite default style 
      }

      @include small-device {
        &.youtube-iframe{
          height:auto;
        }
      }

      @include medium-device{
        &.youtube-iframe{
          height:450px;
        }
      }

      @include large-device{
        &.youtube-iframe{
          height:450px;
        }
      }

      @include extra-large-device{
        &.youtube-iframe{
          height:450px;
        }
      }
    }
    .fb-video{
      width:50%;
    }

  }

  .video-detail-content{
    margin-top:30px;

    h2{
      text-transform:uppercase;
      margin-top:0;
    }
  }

  .video-detail-tags{
    ul{
      list-style:none;
      padding:0;

      li{
        display:inline-block;

        a{
          color:#cdcdcd;
          text-decoration:none;
          transition:all ease-in-out .3s;
        }

        a:hover{
          color:$link-hover-color;
        }
      }
    }
  }

  .video-detail-sidebar{
    .video-detail-social-share{
      text-align:center;
    }

    .video-license{
      width:200px;
      padding:10px;
      background:#000;
      color:#fff;
      text-align:center;
      text-transform:uppercase;
      font-weight:bold;
      margin-bottom:10px;
    }

    .video-social-link{
      h3{
        font-size:16px;
        font-weight:bold;
        text-transform:uppercase;
        margin-bottom:5px;
      }

      ul{
        list-style:none;
        padding:0;

        li{
          display:inline-block;
          margin-right:10px;

          a{
            color:#000;
            transition:all ease-in-out .3s;
          }

          a:hover{
            opacity:.5;
          }
        }
      }
    }
  }
}