/* ************************* Global style ******************* */
body {
  font-family: JosefinSansregular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.section-space {
  padding: $section-spacing-mobile 0px;

  //& > div{
  //  padding-top:0;
  //}
}

.all-dialog-box{
  display:none;
}

@include small-device {
  section.section-space {
    padding: $section-spacing-mobile 0px;
  }
}

@include medium-device {
  section.section-space {
    padding: $section-spacing 0px;
  }
}

@include large-device {
  section.section-space {
    padding: $section-spacing 0px;
  }
}

@include extra-large-device {
  section.section-space {
    padding: $section-spacing 0px;
  }
}

.no-padding{
  padding:0;
}

.nav-background {
  background: #000;
}

p.gray-text {
  color: $gray-5;
}

.header-divider{
  margin-bottom:20px;
}

/* ************************* Font and size ******************* */

h1, h2, h3, h4, h5 {
  font-family: JosefinSansbold;
}

.text-title-with-underline{
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom:$heading_bottom_space;
  text-transform:uppercase;

  &::after{
    content: '';
    width: 50px;
    background: #000;
    margin: 0px auto 0px auto;
    height: 2px;
    display: block;
  }
}

p, form, form input, a, span {
  font-family: JosefinSansregular;
}

h1 {
  @include headingstyle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include small-device {
  h2 {
    font-size: 16px;
  }
}

@include medium-device {
  h2 {
    font-size: 18px;
  }
}

@include large-device {
  h2 {
    font-size: 24px;
  }
}

@include extra-large-device {
  h2 {
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-size: 24px;
}

@include small-device {
  .heading {
    font-size: 24px;
  }
}

@include medium-device {
  .heading {
    font-size: 30px;
  }
}

@include large-device {
  .heading {
    font-size: 40px;
  }
}

@include extra-large-device {
  .heading {
    font-size: 40px;
  }
}

.sub-heading {
  font-size: 20px;
}

.card {
  font-family: JosefinSansregular;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* ************************* End Font and size ******************* */

/* ************************* Login style ******************* */
.forgot-password {
  color: #000;

  &:hover {
    color: #777;
  }
}

/* ************************* Setup From font ******************* */
.input, label {
  font-family: JosefinSansregular;
}

/* ************************* More detail Section style ******************* */

.more-detail-component {
  .legal-stuff{
    .input-group {
      height:auto;

      label {
        position:static;
        height:auto;
        line-height:18px;
        overflow:inherit;
        white-space:unset;
        margin-left:40px;
      }

      .input-group__input{
        position:absolute;
        top:-6px;
      }
    }
  }

}

/* ************************* 404 page style ******************* */

.notfound-title {
  font-size: 10rem;
  font-weight: bold;
}


/* ************************* Iframe style section ******************* */

.iframe-style{
  width:100%;
}

/* ************************* Thank you dialog box style ******************* */

.thank-you-dialog{
  display:none;
}

/* ************************* Overrides vuetify style    ******************* */

.application .videos-section .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}

.application .cd-box .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}

.application .videos-section .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
  background-color: hsla(0, 0%, 0%, 1) !important;
}

.application .client-story-detail-section .theme--dark.btn.btn--disabled:not(.btn--icon):not(.btn--flat)  {
  background-color: hsla(0,0%,0%,1)!important;
}
