@font-face {
  font-family: JosefinSansregular;
  src: url('/assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: JosefinSansbold;
  src: url('/assets/fonts/JosefinSans-Bold.ttf');
}
