.client-assets {
  .thumbnail {
    width: 100%;
    height: 100px;
    background: #777;
    background-size: cover !important;
    background-position: center !important;
    position:relative;
    overflow:hidden;
    cursor: pointer;
    transition:opacity ease-in-out .3s;

    .show{
      bottom:10px;
    }

    &:hover{
      opacity: .5;
    }

    .video-icon{
      position:absolute;
      top:10px;
      right:10px;
    }
  }

  @include small-device {
    .thumbnail {
      height:180px;
    }
  }

  @include medium-device {
    .thumbnail {
      height: 200px;
    }
  }

  @include large-device {
    .thumbnail {
      height: 200px;
    }
  }

  @include extra-large-device {
    .thumbnail {
      height: 250px;
    }
  }

}