.asset-video-content{
  padding:8px !important;
}

@include small-device {
  .asset-video-content{
    padding:8px !important;
  }
}

@include medium-device {
  .asset-video-content{
    padding:10px !important;
  }
}

@include large-device {
  .asset-video-content{
    padding:10px !important;
  }
}

@include extra-large-device {
  .asset-video-content{
    padding:10px !important;
  }
}

.video-card{
  box-shadow: 0px 0px 5px rgba(0,0,0,.1);

  .video-card-thumb-wrapper {
    height: 200px !important;

    .video-card-thumb{
      background-size:cover;
      backgorund-position:center center;
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;

      &:hover{
        .thumbnail-overlay{
          opacity:.5;
        }
        .play-button{
          opacity:.8;
          transform:scale(1);
        }
      }

      .thumbnail-overlay{
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index:2;
        background:rgba(0,0,0,.5);
        opacity:0;
        transition:all ease-in-out .3s;
      }

      .video-duration{
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-weight: bold;
        padding: 1px 10px;
        background: rgba(0,0,0,.5);
        color: #fff;
      }

      .play-button{
        position:absolute;
        z-index:3;
        color:#fff;
        opacity:0;
        top:50%;
        left:50%;
        margin-left: -30px;
        margin-top: -30px;
        transform:scale(0);
        transition:all ease-in-out .3s;
      }

      .label-success{
        position:absolute;
        top:0;
        right:0;
        background:#5cb85c;
        color:#fff;
        padding:5px;
        z-index:3
      }





      .label-nsfw{
        right:0;
        background:#da0039;
      }
    }
  }



  .video-card-title{
    overflow: hidden;
    height: 32px;
    font-size: 24px;
    width: 100%;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    white-space: nowrap;
    cursor:pointer;
  }


  .v-card__title{
    height:50px;
    position:relative;
    overflow:hidden;
  }

  .v-card__text{
    height:100px;
    overflow:hidden;

    p{
      margin:0;
    }
  }

  .v-card__media__background{
    background: url("/assets/images/default.jpg") center center / cover no-repeat;
  }

  .video-item-container:hover .video-item-link{
    bottom:20px;
  }
}

@include small-device {
  .sniffr-media-thumbnail {
    height: 200px !important;
  }
}

@include medium-device {
  .sniffr-media-thumbnail {
    height: 200px !important;
  }
}

@include large-device {
  .sniffr-media-thumbnail {
    height: 220px !important;
  }
}

@include extra-large-device {
  .sniffr-media-thumbnail {
    height: 220px !important;
  }
}

.label {
  position:absolute;
  top:0;
  color:#fff;
  padding:5px;
  z-index:3
}

.label-licensed{
  left:0;
  background: #000;
  padding: 5px 10px;
}
