#header{
  position:relative;
  width:100%;
  height: 100%;
  background:url('~/assets/images/frontend/sample_bg.jpg') no-repeat;
  background-size:cover;
  background-position:center;

  .header-content{
    width:100%;
    height: 100%;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color:#fff;
    position:relative;
    z-index:2;

    h1.heading{
      color:#fff;
      margin-top:120px;
    }

    h1.heading.home{
      margin-top:0px;
    }
  }

  .upload-video-button{
    background: #fff;
    line-height: 37px;
    color: #000;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    height: 40px;

    &:hover{
      box-shadow:0px 0px 6px rgba(0,0,0,.5);
    }
  }

  &:before{
    content:'';
    background:rgba(0,0,0,.3);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
  }
}
