@import "../modules/basic-reset";
@import "../modules/variables";
@import "../modules/typography";
@import "../modules/mixin";
@import "../modules/global";
@import "../vendor/plugin";
@import "../../../../../node_modules/vuetify/dist/vuetify.min.css";

/* ************************* NAV style ******************* */
@import "nav";

/* ************************* Client section style ******************* */
@import "pages/client";